<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459093764168-7342prp1a5ojtmg2bggan3316um91ait.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459093764168-7342prp1a5ojtmg2bggan3316um91ait</string>
	<key>API_KEY</key>
	<string>AIzaSyBpBGa21CxKl4f0vWt1RrDOAR5w45U2szc</string>
	<key>GCM_SENDER_ID</key>
	<string>459093764168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSample</string>
	<key>PROJECT_ID</key>
	<string>hadi-ahmed</string>
	<key>STORAGE_BUCKET</key>
	<string>hadi-ahmed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459093764168:ios:19673376e761b8a74cd07d</string>
</dict>
</plist>